#explicacao {
				position: absolute;
				top: 30%;
				left: 10%;
				width: 50%;
				font-size: 1.3em;
			}

			#msg {
				position: absolute;
				top: 50%;
				left: 10%;
				width: 50%;
				font-size: 1.3em;
			}

			#segundo{
				display: block;
				position: absolute;
				top: 85%;
				left: 80%;
				width: 15%;
				height: 35px;
				border-style: default;
				border-radius: 15% 15% 15% 15%;
			}



			#game_over_tela {
				display: none;
				position: absolute;
				top: 5%;
				left: 15%;
				height: 400px;
				width: 60%;
				border-style: default;
				border-radius: 10% 10% 10% 10%;
				background-color: white;
				z-index: 3;
			}

			#game_over, #finish {
				display: none;
				position: absolute;
				top: 20%;
				left: 30%;
				color: red;
				z-index: 4;
				font-size: 3.5em;
			}

			#finish {
				left: 20%;
				color: green;
			}

			#menu, #next {
				display: none;
				position: absolute;
				top: 75%;
				left: 20%;
				font-size: 2.5em;
			}

			#next {
				left: 50%;
			}



			#cima, #baixo, #esquerda, #direita, #personagem{
				position: absolute;
				top: 670px;
				left: 530px;
				width: 200px;
				height: 200px;
			}

			#esquerda{
				left: 100px;
			}

			#cima, #baixo{
				left: 400px;
				top: 550px;
			}

			#baixo, #esquerda, #direita{
				top: 800px;
			}

			#direita{
				left: 700px;
			}

			#personagem, #rua{
				display: block;
				top: 10%;
				left: 20%;
				width: 50px;
				height: 50px;
				z-index: 2;
			}

			#woman, #woman2, #oldwoman, #man, #man2, #oldwoman2, #oldwoman3{
				display: block;
				position: absolute;
				top: 0%;
				left: 10%;
				height: 70px;
				width: 50px;
				z-index: 1;
			}

			#oldwoman2{
				display: none;
				top: 0%;
				left: 80%;
			}

			#oldwoman3{
				display: none;
				top: 86%;
				left: 75%;
			}

			#man2{
				top: 86%;
				left: 80%;
			}

			#man{
				display: none;
				top: 0%;
				left: 25%;
			}

			#woman2{
				top: 86%;
				left: 30%;
			}

			#oldwoman{
				left: 40%;
			}

			#rua{
				display: block;
				position: absolute;
				height: 100%;
				width: 30%;
				top: 0%;
				left: 45%;
				z-index: 0;
			}

			#tela, #telainicial {
				position: absolute;
				top: 10px;
				left: 100px;
				width: 700px;
				height: 500px;
				border-width: 5px;
				border-color: black;
				border-style: solid;
				z-index: -1;
			}

			#telainicial{
				display: block;
				z-index: 3;
				background-color: grey;
			}

			

			#tree{
				position: absolute;
				top: 30%;
				left: 5%;
				width: 25%;
				z-index: 2;
			}

			#tree2{
				position: absolute;
				top: 10%;
				left: 75%;
				width: 15%;
				z-index: 2;
			}


			#car, #car1, #car2, #car3{
				display: block;
				position: absolute;
				top: 84%;
				left: 50%;
				width: 50px;
				height: 80px;
			}

			#car1, #car2, #car3{
				display: none;
			}

			#car4, #car5, #car6, #car7{
				display: block;
				position: absolute;
				top: 0%;
				left: 63%;
				width: 50px;
				height: 90px;
			}

			#car5, #car6, #car7{
				display: none;
			}

			#grass{
				position: absolute;
				left: 0%;
				top: 0%;
				width: 45%;
				height: 100%;
				z-index: -1;
			}

			#grass2{
				position: absolute;
				left: 75%;
				top: 0%;
				height: 100%;
				width: 25%;
				z-index: -1;
			}


			#garbage0, #garbage1,#garbage2, #garbage3, #garbage4, #garbage5, #garbage6, #garbage7, #garbage8, #garbage9, #garbage10, #garbage11,#garbage12, #garbage13, #garbage14, #garbage15, #garbage16, #garbage17, #garbage18, #garbage19, #garbage20, #garbage21,#garbage22, #garbage23, #garbage24, #garbage25, #garbage26, #garbage27, #garbage28, #garbage29
			{
				display: none;
				position: absolute;
				top: 50%;
				left: 20%;
				width: 30px;
			}

			#garbage2{
				top: 60%;
				left: 25%;
			}

			#trashcan{
				position: absolute;
				left: 10%;
				top: 80%;
			}

			#tempo {
				position: absolute;
				top: 5%;
				left: 80%;
				height: 40px;
				width: 10%;
				z-index: 2;
			}

			#tmp {
				position: absolute;
				width: 50px;
			}

			#timer{
				position: absolute;
				top: -10px;
				left: 50px;
				font-size: 1.5em;
			}

			#audio {
				display: none;
			}